#image{
    width:200px;
    height: 200px;
   border-radius: 100px;
   margin: 30px;
   float: left;
}
body{
    background-image: url("https://thumbs.dreamstime.com/b/set-black-retro-comic-book-design-elements-speech-bubbles-doodle-design-short-messages-colourful-hand-painted-68368799.jpg");
   background-size: cover;
}
#indexP{
  font-family: monospace ;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: underline black;
}
#header{
  border-radius:50px;
  background-color:transparent;
  text-align: center;
  height: 100px;
  font-family: monospace;
  font: bold;
  width: 400px;
  background-color: dimgrey;
  padding:20px;
}
hr{
  border: solid dimgray 1px;
}
#navBar{
  border-radius:50px;
  background-color: dimgrey;
}
#indexMe{
  background: dimgrey;
  border-radius: 50px;
}
#copyRight{
  text-align: center;
  background-color: transparent;
  color: red;
  border: none;
}
#formContact{
  background-color: dimgray;
  font-family: monospace;
  border-radius: 50px;
  font-weight: bold;
}
.info{
  text-decoration: underline;
  font-size: 20px;
}
#submit{
  background-color: black;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
}
#portBody{
  background-color: dimgray;
  border-radius: 50px;
}
#Pfbodyj{
  background-color: dimgray;
  border-radius: 50px;
  
}

img{
  position: sticky;
  border-radius: 50px;
  margin: 10px;
  height: 200px;  
  width: 200px;
}

#wdP{
  
  left:  40px;
}
.pp{
  position: relative;
  font-family: monospace;
  font-size: 20px;
   bottom: 80px;
   font-weight: bolder;
}
#GAming{
  
 color: chartreuse;
  left:  80px;
}
#oraceP{
  left:60px;
  bottom: 150px;
  color: rgb(40, 15, 110)
}
#gymP{
  left: 80px;
  color: cyan;
}
#gym{
  bottom: 200px;
}
#amineP{
  left: 80px;
  color: yellow;
}
#amimg{

  position: relative;
  -webkit-animation: mymove 20s linear alternate-reverse ; 
  animation: mymove 20s linear alternate-reverse;
}


#WD {-webkit-animation-timing-function: linear;}
#gaming {-webkit-animation-timing-function:linear;}
#orace {-webkit-animation-timing-function: linear;}
#anime {-webkit-animation-timing-function: linear;}
#Gym {-webkit-animation-timing-function: linear;}

#WD {animation-timing-function: linear;}
#gaming {animation-timing-function:linear;}
#orace {animation-timing-function: linear;}
#anime {animation-timing-function: linear;}
#Gym {animation-timing-function: linear;}


@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}


@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
