#image{
    width:200px;
    height: 200px;
   border-radius: 100px;
   margin: 30px;
   float: left;
}
body{
    background-image: url("images/background8.jpg"),url("images/background15.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: hard-light; 
}
#indexP{
  box-shadow:  white 100px;
  padding: 5px;
  border: 2px dashed gray;
  font-family: monospace ;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: underline rgb(63, 63, 63);
 
}
#header{
 
  color: aliceblue;
  border-radius:50px;
  background-color:transparent;
  text-align: center;
  height: 100px;
  font-family: monospace;
  font: bold;
  width: 400px;
  background-color: transparent;
  padding:20px;
  margin-left: 20px;
}
hr{
  border: solid dimgray 1px;
}
#navBar{
  height: 100px;
  border-radius:50px;
  background-color: transparent;
}
#indexMe{
  background: transparent;
  border-radius: 50px;
}
#copyRight{
  text-align: center;
  background-color: transparent;
  color: rgb(255, 0, 0);
  border: none;
}
#formContact{

  font-family: monospace;
  border-radius: 50px;
  font-weight: bold;
}

.info{
  color: wheat;
  text-decoration: underline;
  font-size: 20px;
}
#submit,#remove{
  background-color: black;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
}
#portBody{
  background:no-repeat;
  border-radius: 50px;
}
#Pfbodyj{
  background:no-repeat;
  border-radius: 50px;
  
}
.Logo{
  border-radius: 50px;
  height: 50px;
  width: 50px;
 
}

img{
  position: sticky;
  border-radius: 50px;
  margin: 5px;
  height: 150px;  
  width: 150px;
   /* -webkit-animation-name: image;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;  */
}


#wdP{
  bottom: 40px;
  font-size: 15px;
  left: 15px;
}
.pp{
  border: none;
  position: relative;
  font-family: monospace;
  font-size: 20px;
   bottom: 80px;
   font-weight: bolder;
  /* -webkit-animation-name: image;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;   */
}
.row{
  border: none;
}
#gif{
  
  bottom: 50px;
 color: chartreuse;
  left:  40px;
}
#oraceP{
  left:20px;
  bottom: 120px;
  color: rgb(40, 15, 110)
}
#gymP{
  bottom: 50px;
  left: 40px;
  color: cyan;
}
#gym{
  bottom: 200px;
}
#trainP{
  bottom: 50px;
  left: 50px;
  color: yellow;
}
@-webkit-keyframes image{
  from { color: #9a0202; }
  50% { color: #fffb00; }
  to { color: #e5ff00; }
}
*box-sizing{border: none;}
a{
  margin: 1px;
}

#CP12{
  color: aqua;
 position: relative;
 text-align: center;
 bottom: 50px;
 right:40px ;
 font-family: monospace;
 font-size:15px;

}
#Cphoto{
  position: relative;
}
#TG{
  position: relative;
  text-align: center;
  bottom: 50px;
  right: 40px;
  font-family: monospace;
  font-size:20px;
}
#ind-comment{
  width: 50%;
  margin: 2% 10% 1% 25%;
  border-radius: 60px;
  text-align: center;
  background: transparent;
  color: white;
}
#LiriP{
  left:60px;
  bottom: 60px;
  color: rgb(110, 42, 15)

}